<app-header></app-header>

<div class="container">
  <router-outlet></router-outlet>
</div>

<footer class="container-fluid">

  <div>
    <h4 style="font-weight: bold">Like our FASHOP store?</h4><br/>

    <p>Share and Like us on Facebook :)</p><br/>

    <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FFashop-114534853574518&width=114&layout=button&action=like&size=small&share=true&height=65&appId=2784627524948480" width="114" height="65" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>

  </div>
  <div id="quotes">
    <h4 style="font-weight: bold">Best Fashion Quotes</h4>
    <p>“Style is a way to say who you are without having to speak.” — Rachel Zoe</p>
    <p>“The joy of dressing is an art.” — John Galliano</p>
    <p> “Elegance is when then inside is as beautiful as the outside.” — Coco Chanel</p>
    <p>“Slow clothing is a philosophy. It is a way of thinking about, choosing and wearing clothes to ensure they bring meaning, value and joy to every day.” — Jane Milburn</p>
  </div>

</footer>
